.about_container {
    display: flex;
    justify-content: center;
    background: var(--color-bg-variant);
    padding: 1.5rem;
    border-radius: 15px;
}

.about_me {
    width: 100%;
    /* the height will always match the width */
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}

#about p {
    color: white;
    font-weight: 500;
    font-size: 2rem;
}

.about_me_image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}


.about_me_image:hover {
    transform: rotate(0);
}


.about_content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
    font-size: 1.4rem;
}

#about-me-image {
    aspect-ratio: 1/1;
}


/* media queries medium devices */

@media screen and (max-width: 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about_me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about_content p {
        margin: 1rem 0 1.5rem;
    }
}

/* media queries small devices */

@media screen and (max-width: 600px) {
    .about_me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about_content {
        text-align: center;
    }

    .about_content p {
        margin: 1.5rem 0;
    }
}