header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* cta */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* header socials */

.header_socials {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 3rem;
}



/* adds a little dash after the list of social links */
.header_socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);

}

/* me image */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    /* background: var(--color-primary); */
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem  1.5rem 1.5rem 1.5rem;

}
/* scroll down message  */

.scroll_down {
    position: absolute;
    right: 0.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
    /* z-index: 1; */
}

/* media queries medium devicesk */

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* media queries for small devices */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header_socials, .scroll_down {
        display: none;
    }
}