header {
    height: 100vh;
    /* padding-top: 7rem; */
    overflow: hidden;
    background: linear-gradient(
        0deg,
        rgba(0, 247, 255, 0.08),
        rgba(17, 0, 129, 0.1)
      ),url('../../assets/city.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: flex;
    justify-content: center;
    border-bottom: 2px solid cyan;

}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

/* cta */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* header socials */

.header_socials {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 3rem;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 1.2rem;

}



/* adds a little dash after the list of social links */
.header_socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);

}

/* me image */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    /* background: var(--color-primary); */
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;

}


.hero {
    background: rgba(0, 0, 0, 0.7);
    width: max-content;
    /* margin: auto; */
    padding: 2rem 8rem;
    margin: 20px;
    border-radius: 1.4rem;
    backdrop-filter: blur(5px);;
    border: 1px solid var(--color-bg-variant)
}

.hero h1,
.hero h5.text-light {
    text-transform: uppercase;
    letter-spacing: 8px;
}

/* scroll down message  */

.scroll_down {
    /* position: absolute;
    right: 0.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem; */
    /* z-index: 1; */
}

/* media queries medium devicesk */

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }

    .header_socials {
        padding: 0.5rem;
        font-size: 0.8rem;
    }
}

/* media queries for small devices */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header_socials,
    .scroll_down {
        display: none;
    }

    .hero h1,
    .hero h5.text-light {
        text-transform: uppercase;
        letter-spacing: 4px;
        
    }

    .hero {
        padding: 20px;
        width: max-content;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero h5.text-light {
        font-size: 0.5rem;
    }
}